.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
}

.footer__column-link:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
  transition: opacity .7s linear;
}
